@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --background-principal: #181c14;
  --background-section: #3c3d37;
  --text-color: #fff;
}

body {
  background-color: var(--background-principal);
  color: var(--text-color);
  font-family: "Roboto";
}
.off-screen-menu {
  background-color: var(--background-principal);
  height: 100svh;
  width: 100%;
  max-width: 28.125rem;
  position: fixed;
  top: 0;
  left: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  transition: .3s ease;
  z-index: 100;
}
.off-screen-menu.active{
  left: 0;
  z-index: 100;
}

nav{
  padding: 1rem;
  display: none;
  background-color: var(--background-principal);
  z-index: 100;
}

.hamlinks {
  text-decoration: none;
  color: var(--text-color);
  z-index: 100;
  
}

.ham-menu{
  height: 50px;
  width: 50px;
  margin-left: auto;
  position: fixed;
  z-index: 100;
}

.ham-menu span{
  height: 2px;
  width: 50%;
  background-color: var(--text-color);
  border-radius: 25px;
  position: absolute;
  top: 50%;
  right: 45%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
  
}

.off-screen-menu li{
  list-style: none;
  
}

.ham-menu span:nth-child(1){
  top: 30%;
}

.ham-menu span:nth-child(3){
  top: 70%;
}

.ham-menu.active span:nth-child(1){
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2){
  opacity: 0;
}

.ham-menu.active span:nth-child(3){
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}


.container-principal {
  
  margin: 3.125rem auto;
  display: flex;
  flex-direction: column;
}

.cursos {
  /*display: flex;*/
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  
  gap: 16px; /* Adjust space between cards */
  margin: 0 auto;
  max-width: 1500px; /* Limit max width if needed */
  padding: 0 16px; /* Adjust space on the sides */
  min-width: fit-content;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: var(--background-section);
}

.cursos{ 
  
}

@media (min-width: 480px) {
  .cursos {
    grid-template-columns: repeat(2, 1fr);
  }
  
}

@media (max-width: 480px) {
  nav{
    display: flex;
    z-index: 100;
  }
  h1{
    text-align: center;
  }
 
}

/* 3 columns for medium screens */
@media (min-width: 768px) {
  .cursos {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 4 columns for large screens */
@media (min-width: 1024px) {
  .cursos {
    grid-template-columns: repeat(4, 1fr);
  }
}


h1 {
  display: inline-block;
  width: fit-content;
  font-weight: 300;
  margin: 1.875rem 0px -2rem 0px;
  z-index: 1;
  font-size: 4rem;
  align-self: center;
}

.mini-text {
  font-size: 1.25rem;
  
  
}

h3 {
  display: inline-block;
  width: fit-content;
  font-weight: 300;
  margin: -16px 0px -40px 0px;
  z-index: 1;
  font-size: 4rem;
  align-self: center;
}

.container-oferta {
  background-color: #2b2a2a;
  width: 90%;
  margin: 40px;
  min-width: 15.625rem;
  max-width: 21.875rem;
  height: fit-content;
  min-height: 30rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0rem 3.375rem 3.4375rem,
    rgba(0, 0, 0, 0.12) 0rem -0.75rem 1.875rem,
    rgba(0, 0, 0, 0.12) 0rem .25rem .375rem,
    rgba(0, 0, 0, 0.17) 0rem .75rem .8125rem,
    rgba(0, 0, 0, 0.09) 0rem -0.1875rem .3125rem;
  border-radius: .625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 480px) {
.container-oferta{
  margin: 50px auto;
}
}

.head {
  display: flex;
  flex-direction: column;

  text-align: center;
  margin: auto;
}

.img img {
  height: auto;
  margin: auto;
  max-height: 50px;
  max-width: 200px;
  object-fit: contain;
}
.container-oferta .title {
  width: 100%;

  text-wrap: wrap;
  min-width: fit-content;
}

.title h1 {
  font-size: 1.5rem;
  text-align: center;
  margin: 20px;
  padding: 0x;
  font-weight: 500;
  color: #ffa500;
}



.container-oferta .conteudo {
  background-color: #3e3e3e;
  min-height: 300px;
  border-radius: 0rem 0rem .625rem .625rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.button {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.conteudo p {
  margin: 1.5rem;
}

.link {
  text-decoration: none;
  color: #ffa500;
}

.conteudo .button a {
  color: var(--text-color);
  text-decoration: none;
  padding: .625rem;
  font-size: 24px;
  background-color: #be540c;
  margin: .625rem;
  border-radius: .3125rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0rem 3.375rem 3.4375rem,
    rgba(0, 0, 0, 0.12) 0rem -0.75rem 1.875rem,
    rgba(0, 0, 0, 0.12) 0rem .25rem .375rem,
    rgba(0, 0, 0, 0.17) 0rem .75rem .8125rem,
    rgba(0, 0, 0, 0.09) 0rem -0.1875rem .3125rem;
}
.conteudo a:hover {
  filter: brightness(80%);
}

footer {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
}

footer img {
  height: 30px;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 5px;
}